{% extends 'base.html' %}
{% block content %}

<h1>Register</h1>

<form action="register" method="POST">
    <!-- this is the POST method that goes to the route of /register on
    server.py...it is posting the entered email, password, age, zipcode, and submit button -->

    Email: <input type="email" name="email" >
      
    Password: <input type="password" name="password" >
  
    Age: <input type="number" name="age">
      
    Zipcode: <input type="text" name="zipcode" >

    Submit: <input type="submit" value="Register Now!">
    

</form>

{% endblock %}